In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Swiggy.csv")

In [4]:
data.head()

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
0,211,Koramangala,Bangalore,Tandoor Hut,300,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             8680 non-null   int64
 1   Area           8680 non-null   object
 2   City           8680 non-null   object
 3   Restaurant     8680 non-null   object
 4   Price          8680 non-null   int64
 5   Avg ratings    8680 non-null   float64
 6   Total ratings  8680 non-null   int64
 7   Food type      8680 non-null   object
 8   Address        8680 non-null   object
 9   Delivery time  8680 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 678.3+ KB

In [6]:
data.describe()

                  ID        Price  Avg ratings  Total ratings  Delivery time
count    8680.000000  8680.000000  8680.000000    8680.000000    8680.000000
mean   244812.071429   348.444470     3.655104     156.634793      53.967051
std    158671.617188   230.940074     0.647629     391.448014      14.292335
min       211.000000     0.000000     2.000000      20.000000      20.000000
25%     72664.000000   200.000000     2.900000      50.000000      44.000000
50%    283442.000000   300.000000     3.900000      80.000000      53.000000
75%    393425.250000   400.000000     4.200000     100.000000      64.000000
max    466928.000000  2500.000000     5.000000   10000.000000     109.000000

In [7]:
#rows and columns in dataset
data.shape

(8680, 10)

In [8]:
#chceking for null values
data.isnull().sum()

ID               0
Area             0
City             0
Restaurant       0
Price            0
Avg ratings      0
Total ratings    0
Food type        0
Address          0
Delivery time    0
dtype: int64

In [9]:
#checking for duplicate rows
data.duplicated().sum()

0

In [10]:
#checking column names
data.columns.tolist()

['ID',
 'Area',
 'City',
 'Restaurant',
 'Price',
 'Avg ratings',
 'Total ratings',
 'Food type',
 'Address',
 'Delivery time']

In [11]:
data.head(20)

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
0,211,Koramangala,Bangalore,Tandoor Hut,300,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63
5,254,Indiranagar,Bangalore,Treat,800,4.5,100,"Mughlai,North Indian",100 Feet Road,56
6,258,Indiranagar,Bangalore,Chinita Real Mexican Food,1000,4.5,500,"Mexican,Beverages,Salads",Double Road,53
7,263,Koramangala,Bangalore,Cupcake Noggins - Cakespastries And Desserts,150,4.3,100,"Desserts,British,Bakery,Pizzas,Snacks",4Th Block,57
8,267,Domlur,Bangalore,Tea Brew,350,4.1,100,"American,Italian,Beverages,Continental,Chinese...",Double Road,57
9,308,Koramangala,Bangalore,Bangaliana,300,4.0,500,Bengali,7Th Block,57
10,435,Koramangala,Bangalore,Bamey'S Restro Cafe,400,4.4,100,"Chinese,Thai,Nepalese",5Th Block,56
11,446,Cooke Town,Bangalore,Altaf'S Chillies Restaurants,250,4.3,500,"North Indian,Chinese",Cooke Town,55
12,453,Pulikeshi Nagar,Bangalore,Chichabas Taj,532,4.2,100,"Mughlai,North Indian,Biryani",Mm Road,54
13,464,Sivanchetti Gardens,Bangalore,Urban Solace,500,2.9,80,"American,Continental",Ulsoor Lake,48
14,504,Kodihalli,Bangalore,Kaati Zone Rolls & Wraps,150,4.3,100,"Fast Food,Beverages,Bengali,Biryani,Indian,Nor...",Domlur Layout,59
15,604,Koramangala,Bangalore,Aalishan Restaurant & Caterer,290,4.3,100,"Mughlai,North Indian",7Th Block,52
16,608,Domlur,Bangalore,Kerala Pavilion,300,4.1,100,"Kerala,Seafood",Domlur Layout,55
17,621,Indiranagar,Bangalore,Kitchen Of Joy,250,4.4,100,"Bengali,Fast Food,Chinese",Domlur,55
18,1050,Jayanagar,Bangalore,Nagarjuna Chimney,800,4.2,1000,"Seafood,Andhra,Biryani,South Indian,Combo,Dess...",3Rd Block,48
19,1299,Film Nagar,Hyderabad,So. The Sky Kitchen,800,2.9,80,"Mughlai,North Indian,Chinese,Thai,Asian",Near Apollo Health City Gate,90

In [12]:
#EXPLORATORY DATA ANALYSIS

data['ID'].nunique()

8680

In [13]:
#unique cities in dataset
data['City'].unique()

array(['Bangalore', 'Hyderabad', 'Mumbai', 'Pune', 'Kolkata', 'Delhi',
       'Chennai', 'Ahmedabad', 'Surat'], dtype=object)

In [14]:
data['Restaurant'].nunique()

7865

In [15]:
data["Price"].max()

2500

In [16]:
data["Price"].min()

0

In [17]:
data.loc[data['Price'] == data['Price'].min()]

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
1393,73662,Annanagar East,Chennai,Mozza,0,2.9,80,"Continental,Chinese,Italian,Mexican",Annangar East,64
2830,283144,Athwa,Surat,Monginis,0,2.9,80,Desserts,Udhyognagar,46
6995,55365,Isanpur,Ahmedabad,Maruti Dhosa Hub,0,4.1,20,South Indian,Vishal Nagar,49
6999,55710,Paldi,Ahmedabad,Ladli Fast Food,0,3.5,20,"Fast Food,Italian",Paldi,34
7218,77391,Ghodasar,Ahmedabad,Comfy Restaurant,0,4.0,100,"Indian,Chinese",Isanpur,48

In [18]:
#Removing rows with Price==0 
data = data[data['Price'] > 0]

In [19]:
# Check if any zero-price rows remain
print("Remaining zero-price rows:", (data['Price'] == 0).sum())

Remaining zero-price rows: 0

In [20]:
#checking for lowest values in Price column
data.sort_values(by = 'Price', ascending = True).head(20)

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
1054,48742,Chembur,Mumbai,230 Celsius,1,4.1,100,Italian Continental,Tilak Nagar,60
5871,443938,Swargate,Pune,Wok N Roll,1,2.9,80,"Chinese,Snacks",Swargate,39
6371,463545,George Town,Chennai,Food Corner Family Restaurent,1,2.9,80,"South Indian,Chinese,Beverages",George Town,60
6125,451785,T Nagar,Chennai,Murugappa Mess,1,2.9,80,"South Indian,Indian,Desserts",T Nagar,73
8628,455469,Ameerpet,Hyderabad,T-Ruchi,2,2.9,80,Chaat Fast Food,Ameerpet,64
5030,408696,Charminar,Hyderabad,Tajis Food Court,2,2.9,80,Indian South Indian Chinese Arabian,Charminar,68
8659,460439,Navrangpura,Ahmedabad,Dhosa Hub,5,2.9,80,"South Indian,North Indian",Navrangpura,44
8442,432980,Lake Town,Kolkata,Grace Pav Bhaji,10,2.9,80,"South Indian,Snacks",Lake Town,85
5867,443862,Arumbakkam,Chennai,Sri Sai Foods,10,2.9,80,Fast Food,Arumbakkam,67
7500,128643,Domlur,Bangalore,Kota Kachori And Falahaar,15,4.1,1000,"Chaat,North Indian,Snacks,Rajasthani,Sweets,De...",Domlur,50
8529,445277,Perambur,Chennai,Tea Time-Kodungaiyur,20,2.9,80,Beverages,Perambur,67
1927,151192,Pitam Pura,Delhi,Deem Seem,20,2.9,80,North Indian,Pitampura,54
2128,180579,Ayanavaram,Chennai,Green Mango Juice Shop,30,4.2,20,Juices,Vasantha Nagar Chinna Chembarambakkam Ayanavaram,57
5562,433263,Alipore,Kolkata,Priya Tiffin Center,30,2.9,80,Snacks Indian,Alipore,79
2708,260557,Kurla West,Mumbai,Deepak Farsan Mart,40,4.4,100,Indian,Kurla,39
6077,450524,Koregaon Park,Pune,Food Pride,40,2.9,80,"Fast Food,Snacks,Bakery",Koregaon Park,48
8215,389482,Charminar,Hyderabad,Fancy Ice Cream,40,2.9,80,Ice Cream Desserts,Charminar,44
8467,436423,Perambur,Chennai,Sanjana Foods And Snacks,45,2.9,80,"Snacks,Sweets,Beverages",Perambur,57
3478,334799,Banjara Hills,Hyderabad,Swastik Udupi Vef,48,3.4,20,"South Indian,Snacks",Banjara Hills,35
4545,387279,Kothapet & Dilsukhnagar,Hyderabad,New Shahi Naan,49,2.9,80,Indian,Kothapet & Dilsukhnagar,34

In [21]:
#removing the rows where Price is less than or equal to 5
data = data[data['Price'] > 5]

In [22]:
data.sort_values(by = 'Price', ascending = True).head(20)

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
8442,432980,Lake Town,Kolkata,Grace Pav Bhaji,10,2.9,80,"South Indian,Snacks",Lake Town,85
5867,443862,Arumbakkam,Chennai,Sri Sai Foods,10,2.9,80,Fast Food,Arumbakkam,67
7500,128643,Domlur,Bangalore,Kota Kachori And Falahaar,15,4.1,1000,"Chaat,North Indian,Snacks,Rajasthani,Sweets,De...",Domlur,50
1927,151192,Pitam Pura,Delhi,Deem Seem,20,2.9,80,North Indian,Pitampura,54
8529,445277,Perambur,Chennai,Tea Time-Kodungaiyur,20,2.9,80,Beverages,Perambur,67
2128,180579,Ayanavaram,Chennai,Green Mango Juice Shop,30,4.2,20,Juices,Vasantha Nagar Chinna Chembarambakkam Ayanavaram,57
5562,433263,Alipore,Kolkata,Priya Tiffin Center,30,2.9,80,Snacks Indian,Alipore,79
2708,260557,Kurla West,Mumbai,Deepak Farsan Mart,40,4.4,100,Indian,Kurla,39
6077,450524,Koregaon Park,Pune,Food Pride,40,2.9,80,"Fast Food,Snacks,Bakery",Koregaon Park,48
8215,389482,Charminar,Hyderabad,Fancy Ice Cream,40,2.9,80,Ice Cream Desserts,Charminar,44
8467,436423,Perambur,Chennai,Sanjana Foods And Snacks,45,2.9,80,"Snacks,Sweets,Beverages",Perambur,57
3478,334799,Banjara Hills,Hyderabad,Swastik Udupi Vef,48,3.4,20,"South Indian,Snacks",Banjara Hills,35
4545,387279,Kothapet & Dilsukhnagar,Hyderabad,New Shahi Naan,49,2.9,80,Indian,Kothapet & Dilsukhnagar,34
7530,133839,Adajan Patiya,Surat,Taiyar Pan Center,50,4.6,20,"Desserts,Paan",Adajan Patiya,37
3279,320719,Jadavpur,Kolkata,Raj Tea Stall,50,2.9,80,"Chinese,Beverages,North Indian",Jadavpur,80
8538,446011,Navrangpura,Ahmedabad,Sunshine Cafe,50,2.9,80,"Fast Food,Mexican",Navrangpura,44
1206,58568,Ashok Nagar,Bangalore,Sweet Chariot,50,2.9,80,Desserts,Brigade Road,36
2392,222499,Pulikeshi Nagar,Bangalore,Cane Fresh,50,4.4,50,"Indian,Beverages,Desserts",Coles Road,39
3631,342204,Chanakyapuri,Hyderabad,Meghana Tiffin Center,50,4.3,500,South Indian,Kothapet & Dilsukhnagar,64
4080,368434,Ameerpet,Hyderabad,Sai Ganesh Tiffins,50,4.0,100,Street Food South Indian,Ameerpet,64

In [23]:
data.to_excel("cleaned_swiggy_data.xlsx", index=False)